<!--##This code is adapted from http://learn-2-code.appspot.com/ and https://www.udacity.com/course/viewer#!/c-nd000/l-4195258602/m-3971648689,  and https://cloud.google.com/appengine/docs/python/gettingstartedpython27/handlingforms

-->

{% extends "base.html" %}
{% block content %}
<h2>Feedback</h2>
<p> Post your comments about this site here

    <center><form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Post your Comments"></div>
    </form></center>

    <br>
{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.email }}
          {% if user and user.user_id() == greeting.author.identity %}
            (You)
          {% endif %}
        </b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <hr>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
    {% endblock %}